<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.games.user.tarjetondigital">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tarjeton"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tarjeton"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Calendario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Documentos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Contratos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Txt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Promociones"
            android:screenOrientation="portrait" />

        <service android:name=".MiFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MiFirebaseInstancedService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Noticias"></activity>
    </application>

</manifest>